html {
    font-size: 62.5%;
  }
  
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%;
    }
  }
  
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%;
    }
  }
  
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%;
    }
  }








  @media only screen and (max-width: 939px) {
    .header-margin-top { margin-top: -90px;}
  }
  @media only screen and (max-width: 820px) {
    .header-margin-top {margin-left: 40px}
  }
  
  @media only screen and (max-width: 825px) {
    .header-margin-top {margin-left: 40px}
  }
  
  @media only screen and (max-width: 823px) {
    .header-margin-top {margin-left: 20px}
  }
  